# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Virtual Environment
venv/
env/

# Ignore IDE files (VSCode, PyCharm)
.vscode/
.idea/

# Ignore Logs and OS-specific files
*.log
.DS_Store

# Ignore Environment Variables
.env
.env.local
.env.production
.env.*.local
